<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Pay</display-name>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>用户登录跳转 </description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>web.UI.LoginUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>用户数据处理</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>web.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>学生缴费界面</description>
    <display-name>UserUIServlet</display-name>
    <servlet-name>UserUIServlet</servlet-name>
    <servlet-class>web.UI.UserUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUIServlet</servlet-name>
    <url-pattern>/servlet/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>学生缴费处理</description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>web.controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/servlet/Usermain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>用户缴费信息JSON数据</description>
    <display-name>UserJson</display-name>
    <servlet-name>UserJson</servlet-name>
    <servlet-class>util.UserJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserJson</servlet-name>
    <url-pattern>/servlet/userJson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>管理员登陆处理</description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>web.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/servlet/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>管理员后台页面</description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>web.UI.AdminServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminjson</display-name>
    <servlet-name>adminjson</servlet-name>
    <servlet-class>util.AdminJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminjson</servlet-name>
    <url-pattern>/adminjson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImportExcel</display-name>
    <servlet-name>ImportExcel</servlet-name>
    <servlet-class>util.ImportExcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportExcel</servlet-name>
    <url-pattern>/importexcel</url-pattern>
  </servlet-mapping>
</web-app>